:root {
  --clr-primary: #dedede;
  --clr-gray: #2f4f4f;
  --clr-light: #fafafa;
  --clr-red: rgb(123, 6, 6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--clr-primary);
  color: #000;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.err-text {
  color: var(--clr-red);
  font-weight: 700;
}
.err-small {
  font-size: small;
}
.btn {
  background-color: var(--clr-gray);
  color: var(--clr-light);
  padding: .8em 2em;
  border-radius: .8rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
}
.btn-block {
  display: block;
  width: 100%;
  border: 1px solid var(--clr-gray);
}
.btn:hover,
.btn-block:hover {
  background-color: #284444;
  color: var(--clr-light);
  border: 2px solid var(--clr-gray);
  box-shadow: 4px 4px 7px #00000065;
  transform: scale(1.01);
  transition: transform 100ms ease;
}
.btn:active,
.btn-block:active, {
  background-color: #233939;
  font-size: .9rem;
  box-shadow: 4px 4px 7px #00000065;
  transform: scale(.99);
  transition: transform 150ms ease-in;
}
.btn-confirm {
  background-color: var(--clr-gray);
  color: var(--clr-light);
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.5em .8em;
  border-radius: .8rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-yes {
  width: 100%;
  font-size: .9rem;
}
.btn-no {
  width: 75%;
  background-color: rgba(47, 79, 79, 0.85);
  /* background-color: var(--clr-light); */
  /* color: #000; */
  /* font-weight: 400; */
}
.btn-confirm:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 7px #00000075;
}
.btn-confirm:active {
  transform: scale(.95);
  transition: transform 100ms ease-out;
}
.confirm {
  background-color: var(--clr-light);
  border-radius: .8rem;
  box-shadow: 4px 4px 7px #00000075;
}
.nav-bg {
  background-color: var(--clr-gray);
}
.nav-txt {
  color: var(--clr-light);
}
nav .text-link {
  color: var(--clr-light);
  font-weight: 400;
  padding: 1rem;
}
nav .text-link.active,
nav .text-link:hover {
  color: var(--clr-light);
  font-weight: 700;
  transition: font-weight 100ms ease-in-out;
}
.text-link {
  color: var(--clr-gray);
  font-weight: 800;
  cursor: pointer;
}
.text-link:hover,
.text-link:active {
  color: var(--clr-gray);
  transform: scale(1.1);
  transition: transform 150ms ease-out;
}
.headline {
  color: var(--clr-gray);
  transform: scale(1.5);
  font-weight: 900;
}
.subheadline {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  font-weight: 800;
  /* color: var(--clr-gray); */
}
form textarea {
  resize: none;
}
.form-control {
  display: block;
  width: 100%;
  margin-bottom: .4rem;
  padding: .5rem;
  border-radius: .8rem;
  border: 1px solid #d3d3d3;
  outline: none;
}
.form-control:focus {
  border: none;
}
.bg-card {
  background-color: var(--clr-light);
  margin-bottom: .3rem;
  padding: 1rem; 
  border: 1px solid transparent;
  outline: none;
  border-radius: .8rem;
  min-width: 250px;
  box-shadow: 3px 3px 5px #0000002f;
}
.bg-card:hover,
.bg-card:active {
  box-shadow: 4px 4px 7px #00000065;
  border: 1px solid #d3d3d3;
  transition: all 150ms ease;
}
.event-details .bg-card:hover {
  box-shadow: 3px 3px 5px #0000002f;
  border: 1px solid transparent;
}
.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  max-width: 150px;
  border-radius: 50%;
  cursor: none;
  padding: 1rem;
  border: 0;
  background-color: #ececec;
}
.circle:before {
  content:'';
  width: auto;
  padding-bottom: 100%;
} 
/*events todo*/
.bg-now {
  margin: 0;
  color: #000;
}
/*events history */
.bg-past {
  margin: 0;
  color: #727171;
  font-weight: 400;
}