/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap'); */

:root {
  /* --clr-primary: #c7c7c7; */
  /* --clr-primary: #fafafa; */
  --clr-primary: #dedede;
  /* --clr-primary: rgb(39, 54, 54); */
  --clr-gray: #2f4f4f;
  --clr-light: #ececec;
  --clr-red: rgb(123, 6, 6);
  /* --clr-blue: rgb(39, 39, 70); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  /* font-weight: 400; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: darkslategray; */
  background-color: var(--clr-primary);
  color: #000;
  /* color: var(--clr-primary); */
}
.container {
  width: 90%;
  margin: 0 auto;
}
.err-text {
  color: var(--clr-red);
  font-weight: 700;
}
.err-small {
  font-size: small;
}
.btn {
  background-color: var(--clr-gray);
  color: #fff;
  padding: .8em 2em;
  border-radius: .8rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
}
.btn-block {
  display: block;
  width: 100%;
  border: 1px solid #d3d3d3;
}
.btn:hover,
.btn-block:hover {
  background-color: #284444;
  border: 1px solid var(--clr-gray);
  box-shadow: 4px 4px 7px #00000065;
  padding-block: .7rem;
  color: #fff;
}
.btn:active,
.btn-block:active {
  border: 1px solid var(--clr-gray);
  padding-block: .6rem;
  box-shadow: 4px 4px 7px #00000065;
}
.nav-bg {
  background-color: var(--clr-gray);
  /* padding-block: .3rem; */
}
.nav-txt {
  color: var(--clr-light);
}
nav .text-link {
  color: var(--clr-light);
  font-weight: 400;
  padding: 1rem;
}
nav .text-link.active,
nav .text-link:hover {
  color: var(--clr-light);
  font-weight: 700;
}
.text-link {
  color: var(--clr-gray);
  font-weight: 800;
  cursor: pointer;
}
.text-link:hover,
.text-link:active {
  color: var(--clr-gray);
  transform: scale(1.1);
}
.headline {
  color: var(--clr-gray);
  transform: scale(1.5);
  font-weight: 900;
}
form textarea {
  resize: none;
}
.form-control {
  display: block;
  width: 100%;
  margin-bottom: .4rem;
  padding: .5rem;
  border-radius: .8rem;
  border: 1px solid #d3d3d3;
  outline: none;
}
.form-control:focus {
  border: none;  
  /* blir så skarp blåfärg annars, med bootstrap... */
}
.bg-card {
  background-color: #fff;
  margin-bottom: .3rem;
  padding: 1rem; 
  border-radius: .8rem;
  min-width: 300px;
  box-shadow: 3px 3px 5px #0000002f;
}
/* createeventview har shadow rounded p-3 */
.bg-card:hover,
.bg-card:active {
  box-shadow: 4px 4px 7px #00000065;
  border: 1px solid #d3d3d3;
}
/*events todo*/
.bg-now {
  margin: 0;
  color: #000;
}
/*events history */
.bg-past {
  margin: 0;
  color: #7a7a7a;
  font-weight: 400;
}
.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 150px;
  border-radius: 50%;
  cursor: none;
  padding: 1rem;
  border: 0;
  background-color: #ececec;
}
.circle:before {
  content:'';
  width: auto;
  padding-bottom: 100%;
} 
